/* Variables */
:root {
  --primary-font: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --primary-color: #83A7AF;
  --background-color:#64919B

  }


/* Resets */

body {
  margin: 0;
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('../public/annie-spratt-xvU-X0GV9-o-unsplash.jpg');   */
  background-color: var(--background-color);

}


/* Global Classes */
.text-center {
  text-align: center;
}

/* Custom Styles */

header{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 3%; 
  /* display: flex;
  justify-content: space-between;
  */
  /* align-items: center; */
  /* background-image: url("../public/banner-g25938a906_1920.jpg");
  background-repeat: 'no-repeat';
  background-size:cover; */
  background-color: var(--primary-color);
  color: #000000;
  
}


header  nav{  
  display: flex;
  gap: 1rem;
  padding: 0px 3%;


}

header  nav a {
  text-decoration: none;

  color: #000000;

  text-decoration: none;
}

/* header nav a:not(:last-child), header nav span{
  margin-right: 8px
} */
header  nav a.active,
header  nav a:hover {
  text-decoration: underline;
}


footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: space-evenly;
}


.portfolio{
  
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em; 
  /* background-image: url("../public/matthew-ball-_9OR8-bLHbE-unsplash.jpg");
  background-repeat: 'no-repeat';
  background-size:cover; */


}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 25px 0;
  margin: 1em;
  /* background-image: url("../public/annie-spratt-xvU-X0GV9-o-unsplash.jpg");
  background-repeat:'no-repeat';
  background-size: cover; */
  

}

.portfolio-item{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  box-shadow: 10px 10px 6px #000;

  background-color: var(--primary-color); 
  
  margin: 1em 1em 1em ;
  

}

.portfolio-item  a,
.portfolio-item a img {
  max-width: 100%;
  /* max-height: 100%; */
  height:100%;

  /* padding: 1rem; */

}

.portfolio-item  p {  
  padding: 1em;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}



/* Larger Screen Styles */
@media (min-width: 768px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    /* border-top: 1px solid #dfdfdf; */
    /* border-left: 1px solid #dfdfdf; */
    /* border-right: 1px solid #dfdfdf; */
  }
}